[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arcade = "*"
ipython = "*"
enquiries = "*"

[dev-packages]
yapf = "*"
mu-editor = "*"
ipdb = "*"

[requires]
python_version = "3.6"
